.ActivePoll {
  background: grey;
  border: 2px solid white;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  
}
.Question{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 5px;
}
.Question small{
  display: grid;
  justify-items: end;
}
.ActivePoll ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline-start:0px;
}
.ActivePoll ul li {
  border: 2px solid white;
  border-radius: 10px;
  margin:5px;
  text-align: center;
}
.ActivePoll ul li:hover{
  background: rgba(255, 255, 255, .2);
  transition: background .3s ease-in-out;
  cursor: pointer;
}